<ul>
  {{#answers}}
    <li>
      <input type="radio" name="{{name}}" value="{{index}}" id="{{title}}_exercise_{{exercise_index}}_answer_{{index}}">
      <label for="{{title}}_exercise_{{exercise_index}}_answer_{{index}}">
        {{{text}}}
      </label>
    </li>
  {{/answers}}
</ul>
